@mixin font_DotGothic16 {
  font-family: "DotGothic16", sans-serif;
}
@mixin font_ReggaeOne {
  font-family: "Reggae One", cursive;
}
@mixin font_NotoSansJP {
  font-family: "Noto Sans JP", sans-serif;
}
@mixin font_RocknRollOne {
  font-family: "RocknRoll One", sans-serif;
}
@mixin font_HachiMaruPop {
  font-family: "Hachi Maru Pop", cursive;
}
@mixin font_NewTegomin {
  font-family: "New Tegomin", serif;
}
@mixin font_Stick {
  font-family: "Stick", sans-serif;
}
@mixin font_TrainOne {
  font-family: "Train One", cursive;
}
@mixin font_YuseiMagic {
  font-family: "Yusei Magic", sans-serif;
}
